/target
Assembly_v59.glb
Assembly_v59.step
out2.glb
out3.glb
out1.glb
part.step
part.glb
part2.step
part2.glb
test08.glb
test08.stp
shape-issue.stp
shape-issue.glb
shape-issue2.stp
shape-issue2.glb
test05-issue.glb
test12-issue.glb
test05-issue.stp
test12-issue.stp